<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Fair Bingo
	link(rel='stylesheet', href='css/styles.css')
	//link(href="css/styles.css")
body
	table
		tr.header
			th B
			th I
			th N
			th G
			th O
		tr
			td asd
			td asd
			td asd
			td asd
			td asd
		tr
			td asd
			td asd
			td asd
			td asd
			td asd
		tr
			td asd
			td asd
			td.freeSpace Free Space
			td asd
			td asd
		tr
			td asd
			td asd
			td asd
			td asd
			td asd
		tr
			td asd
			td asd
			td asd
			td asd
			td asd
	script(src='js/main.js')